.wrapper {
    width: 60vh;
    box-shadow: 0 20px 40px -10px rgba(#333, .5);
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    position: fixed;
    background: #fff;
    margin: 0 auto;
    padding: 50px 110px;
    box-sizing: border-box;
}

.closeButton {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: olive;
    color: #fff;
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    transition: all .1s;
    &:hover {
        transform: scale(1.15);
        box-shadow: 0 0 10px grey;
       
    }
    &::before, 
    &::after {
        content: '';
        width: 15px;
        height: 2px;
        position: absolute;
        background: white;
        display: block;
        top: 50%;     
        left: 1px;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        transform-origin: center;

    }
    &::before {
      transform: rotate(45deg);
     
    }
    &::after {
      transform: rotate(-45deg);
    }
}